.footer {
    background: #9C60FB;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.Logo2{
    width: 200px;
}